
/*#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}*/
/*.content {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 5px;
}*/

/*.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  ;
  color: white;
  text-align: left;} 
#img{
  width: 70px;
  height: 70px;
}
*/
header{
background-color:#A52A2A ;
width: 100%;
position: fixed;
z-index: 999;
display: flex;
  align-items: center;
  justify-content:space-evenly;

  }

  #first{
color: white;
font-weight: 700;
font-size: 160;
  }
  .main{
    font-size: 25px;
    width: 70%;
 text-align:left;
     height: 100px;
  padding: 20px 0 20px;
    display: flex;
    color: white;
left: 10px;
    position: relative;
top: 300px;
opacity: 0.6;

  }
  #welcome{
    font-size: 50px;
   width: 100%px;
 text-align:left;
     height: 100px;
  padding: 20px 0 20px;
    display: flex;
    color: white;
left: 10px;
    position: relative;
top: 300px;
  }
  a{
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    padding-left:30px ;
  }

    a:havor{
    color: blue;
  }
  #myvideo{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
  }
.image{
  height: 150px;
  width: 150px;
  display: inline-flex;
  margin: 10px;
}
