header{
background-color:#A52A2A ;
width: 100%;
position: fixed;
z-index: 999;
display: flex;
  align-items: center;
  justify-content:space-evenly;

  }

  #first{
color: white;
font-weight: 700;
font-size: 160;
  }
  .main{
    width: 60%;
 text-align:left;
     height: 100px;
  padding: 50px 0 50px;
    display: flex;
    color: white;
left: 10px;
    position: relative;
top: 300px;

  }
  #welcome{
    font-size: 60px;
 position: relative;
top:-100px;
width: 60%;
font-weight: 700;
font-size: 160;
  }
  a{
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    padding-left:30px ;
  }

    a:havor{
    color: blue;
  }
  #myvideo{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
  }
